<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="colored" class="io.github.giulong.spectrum.internals.ColoredConverter"/>
    <property name="PATTERN" value="%d{HH:mm:ss.SSS} %.-1level %-30.30logger{0} | %msg%n%ex"/>
    <property name="COLOR_PATTERN" value="%d{HH:mm:ss.SSS} %colored(%.-1level %-30.30logger{0} | %msg%n%ex)"/>
    <property name="FILE_PATH" value="${spectrum.log.path:-target/spectrum/logs}"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
        <key>spectrum.log.colors</key>
        <value>false</value>
    </condition>
    <if>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>${PATTERN}</pattern>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>${COLOR_PATTERN}</pattern>
                </encoder>
            </appender>
        </else>
    </if>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_PATH}/spectrum.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FILE_PATH}/spectrum-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="${spectrum.log.level:-INFO}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
