<div class="visual-regression" data-test-id="${id}" data-frame="${number}">
    <div class="row mb-3">
        <div class="col-md-3 text-center">
            <span class="badge white-text green">REFERENCE</span>
        </div>
        <div class="col-md-3 text-center">
            <span class="badge white-text red">REGRESSION</span>
        </div>
        <#if shown>
        <div class="col-md-3 text-center">
            <span class="badge white-text red">DIFF</span>
        </div>
        </#if>
    </div>
    <div class="row mb-3">
        <div class="col-md-3 text-center">
            <a href="data:image/png;base64,${reference}" data-featherlight="image">
                <img src="data:image/png;base64,${reference}" alt="reference screenshot" class="reference-img"/>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="data:image/png;base64,${regression}" data-featherlight="image">
                <img src="data:image/png;base64,${regression}" alt="regression screenshot" class="regression-img"/>
            </a>
        </div>
        <#if shown>
        <div class="col-md-3 text-center">
            <#if diff??>
                <a href="data:image/png;base64,${diff}" data-featherlight="image">
                    <img src="data:image/png;base64,${diff}" alt="diff" class="diff-img"/>
                </a>
            <#else>
                <div class="missing-diff">
                    Images have different sizes.<br>
                    Cannot compare them.
                </div>
            </#if>
        </div>
        </#if>
    </div>
</div>
