---
---

@import "{{ site.theme }}";

body {
    padding: 20px 0;
}

#left-menu {
    transition: width .05s, opacity .05s;
    position: fixed;
    top: 20px;
    left: 10px;
    width: 300px;
    height: calc(100% - 90px);
    background: linear-gradient(#fafafa, #DEDEDE 700px);
    border-radius: 8px;
}

#toc-title {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
    color: #266eb7;
    background: linear-gradient(#DDFBFC, #C6EAFA);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #B2D2E1;
    cursor: default;
}

#toc-list {
    list-style: none;
    overflow-x: hidden;
    height: calc(100% - 47px); // we subtract the toc-title height
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
}

#toc-list .h1 {
    font-weight: bold;
}

#toc-list .h2 {
    padding-left: 15px;
    font-size: 14px;
}

#toc-list .h3 {
    padding-left: 30px;
    font-size: 13px;
}

#toc-list .h4 {
    padding-left: 30px;
    font-size: 12px;
}

.toc-element {
    cursor: pointer;
    text-transform: capitalize;
    padding-left: 10px;
}

.toc-element.h1 {
    background-color: rgba(0,0,0,0.06);
}

.toc-element:last-child:hover {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#search-container {
    width: 300px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

header.sticky {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 99;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

header.sticky > img#spectrum-logo { // smaller logo
    width: 12%;
}

header.sticky > p { // hiding the description
    display: none;
}

header.sticky > #search-container { // search bar closer to the top
    top: 10px;
}

header > ul {
    top: 28px;
}

header.sticky > ul {
    top: 8px;
}

section.sticky-section {
    padding-top: 137px;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}

#search-input {
    width: 300px;
    border: 1px solid #aaa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #eee;
}

#results-container {
    width: 309px;
    margin-top: 0;
    border: 1px solid #aaa;
    border-top: 0;
    border-radius: 0 0 8px 8px;
    background: #fff;
    display: none;
    padding: 0;
    background: #eee;
    top: 34px;
    right: inherit;
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
}

#results-container:before {
    background: none;
    box-shadow: none;
}

.search-result, #no-results {
    list-style: none;
    text-align: left;
    padding: 2px 5px;
    cursor: pointer;
    text-transform: capitalize;
    width: auto;
    height: auto;
    float: inherit;
    border: none;
}

#no-results {
    cursor: default;
}

.search-result:hover {
    background: #C6EAFA;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

hr {
    margin: 20px 14px 20px;
}

.wrapper {
    width: 1024px;
}

@media print, screen and (max-width: 1670px) {
    #left-menu { display: none; }
    #toggle-toc-button { display: none; }
}

@media print, screen and (max-width: 1024px) {
    .wrapper { border-radius: 0; box-shadow: none; width: 100%; }
}

@media print, screen and (max-width: 885px) {
    #search-container { left: 60%; }
    #search-input { width: 240px; }
    #results-container { width: 249px; }
}

@media print, screen and (max-width: 580px) {
    header ul { display: none; }
    header p.view { display: block; }
    header p { width: 100%; }
    #search-container { width: 180px; transform: inherit; top: 20px; right: 10%; left: unset; }
    #results-container { width: 210px; left: 0; }
    header.sticky > #search-container { right: 0%; left: unset; }
    #search-input { width: 200px; }
}

@media print {
    header p.view a small:before { content: 'at https://github.com/'; }
    #left-menu { display: none; }
    #toggle-toc-button { display: none; }
    #topButton { display: none; }
}

p, ul, ol, table, dl, h1 {
    margin: 20px 0;
}

h2, h3, h4 {
    margin-top: 25px;
}

h1, h2, h3, h4 {
    cursor: pointer;
}

h1:hover::after, h2:hover::after, h3:hover::after, h4:hover::after {
    content: url('../images/permalink-icon.png');
    margin-left: 4px;
}

h3:hover::after, h4:hover::after {
    position: relative;
    top: 2px;
}

tbody tr td:first-child {
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.06);
}

.toc-element:hover, .toc-element-selected, .toc-element.h1.toc-element-selected, tbody tr:hover {
    background-color: #C6EAFA;
}

blockquote {
    font-style: normal;
    margin: 25px -20px -10px;
    padding: 1px 20px 1px 40px;
}

span.copy-header {
    display: block;
    padding: 28px 16px 4px;
    margin: 0 -20px -64px;
    text-align: right;
}

blockquote + p > span.copy-header {
    padding: 6px 16px 4px;
}

button.copy-button {
    z-index: 1;
    position: sticky;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #ccc;
    padding: 3px 5px;
}

a {
    color: #06d;
}

img {
    cursor: zoom-in;
}

img#spectrum-logo {
    width: 30%;
    cursor: default;
    transition: width .05s;
}

img.copy-icon {
    cursor: pointer;
    width: 16px;
    vertical-align: bottom;
}

#topButton {
    visibility: hidden;
    opacity: 0;
    transition: visibility .1s, opacity .1s linear;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    border: 1px solid #444;
    outline: none;
    background-color: #3A3C42;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

#topButton:hover, #toggle-toc-button:hover, ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}

#toggle-toc-button {
    position: fixed;
    bottom: 15px;
    left: 10px;
    width: 300px;
    z-index: 99;
    border: 1px solid #444;
    outline: none;
    background-color: #3A3C42;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: width .05s linear;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #666;
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #3A3C42;
    border-radius: 5px;
}
