---
---

@import "{{ site.theme }}";

header > h1 {
    text-transform: capitalize;
}

div.wrapper {
    width: 1024px;
}

tbody tr td:first-child {
    font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: rgba(0,0,0,0.06);
}

blockquote {
    font-style: normal;
}
