---
---

@import "{{ site.theme }}";

header > h1 {
    text-transform: capitalize;
    font-size: 36px;
    display: inline-block;
}

#search-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
}

#search-container.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 6px;
}

#search-container.sticky > #results-container {
    left: 50%;
    transform: translateX(-50%);
}

section.sticky-section {
    padding-top: 27px;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}

#search-input {
    width: 300px;
    border: 1px solid #aaa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #eee;
}

#results-container {
    width: 309px;
    margin-top: 0;
    border: 1px solid #aaa;
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #fff;
    position: absolute;
    display: none;
    padding: 0;
    background: #eee;
}

.search-result, #no-results {
    list-style: none;
    text-align: left;
    padding: 2px 5px;
    cursor: pointer;
    text-transform: capitalize;
}

#no-results {
    cursor: default;
}

.search-result:hover {
    background: #C6EAFA;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
}

hr {
    margin: 20px 14px 20px;
}

.wrapper {
    width: 1024px;
}

@media print, screen and (max-width: 1024px) { body { padding: 0; }
  .wrapper { border-radius: 0; box-shadow: none; width: 100%; }
  footer { border-radius: 0; padding: 20px; width: auto; }
  footer p { float: none; margin: 0; }
  footer p + p { float: none; } }
@media print, screen and (max-width: 580px) { header ul { display: none; }
  header p.view { display: block; }
  header p { width: 100%; } }
@media print { header p.view a small:before { content: 'at https://github.com/'; } }
header > h1 { text-transform: capitalize; font-size: 36px; }

p, ul, ol, table, dl, h1 {
    margin: 20px 0;
}

h2, h3, h4 {
    margin-top: 25px;
}

tbody tr td:first-child {
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.06);
}

blockquote {
    font-style: normal;
    margin: 25px -20px -10px;
    padding: 1px 20px 1px 40px;
}

span.copy-header {
    display: block;
    padding: 28px 16px 4px;
    margin: 0 -20px -64px;
    text-align: right;
}

blockquote + p > span.copy-header {
    padding: 6px 16px 4px;
}

button.copy-button {
    z-index: 1;
    position: sticky;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #ccc;
    padding: 3px 5px;
}

a {
    color: #06d;
}

img {
    cursor: zoom-in;
}

img.copy-icon {
    cursor: pointer;
    width: 16px;
    vertical-align: bottom;
}

#topButton {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    border: 1px solid #444;
    outline: none;
    background-color: #3A3C42;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

#topButton:hover {
    background-color: #555;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}
