<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="colored" converterClass="io.github.giulong.spectrum.internals.ColoredConverter" />
    <property name="PATTERN" value="%d{HH:mm:ss.SSS} %.-1level %-25logger{0} | %msg%nopex%n"/>
    <property name="COLOR_PATTERN" value="%d{HH:mm:ss.SSS} %colored(%.-1level %-25logger{0} | %msg%nopex%n)"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${COLOR_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="INFO"/>
    <logger name="org.asynchttpclient" level="INFO"/>
    <logger name="org.asynchttpclient.netty.handler.WebSocketHandler" level="ERROR"/>

    <root level="${spectrum.log.level:-INFO}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
