<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="colored" class="io.github.giulong.spectrum.internals.ColoredConverter" />
    <property name="COLOR_PATTERN" value="%d{HH:mm:ss.SSS} %colored(%.-1level %-30.30logger{0} | %msg%nopex%n))"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${COLOR_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="${spectrum.log.level:-INFO}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
